@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap');

$dark: #18101d;

body {
    font-family: 'Montserrat', sans-serif;
    background: $dark;
    color: #fff;
}